<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Express</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Student Attendance</h1>
    <ul>
        <% students.forEach(function(s) { %>
            <li>
                <%= s.student %>
                    -
                <%= s.attendance ? 'present' : 'not present' %>
                <a href="/students/<%= s.id %>">
                    Click here for details (Student ID# <%= s.id %>)
                  </a>
            </li>
        <% }); %>
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>